# Normalise line endings for all text files
* text=auto

# Unity binary files
*.unitypackage binary

# Image formats
*.png binary
*.jpg binary

# Audio formats
*.mp3 binary
*.ogg binary
*.wav binary

# Video formats
*.mov binary
*.mp4 binary

# Bundles and binaries
*.dll binary

# Packaging
*.zip binary